@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h2 {
  @apply font-medium text-[46px] leading-[56.17px] text-left text-[#194F8C] capitalize;
}

h3 {
  @apply font-medium text-[34px] leading-[41.51px] text-left text-[#6E8AAB] capitalize;
}

p {
  @apply font-normal text-[16px] leading-[19.09px];
}

button {
  @apply font-medium text-[16px] leading-[19.09px];
}


.slick-slide > div {
  @apply mx-3;
}

.slick-prev:before,
.slick-next:before {
  @apply !text-black;
}

.slick-prev:before {
  @apply m-4
}
.slick-next:before {
  @apply -m-4
}

.container {
  @apply !max-w-[1300px] w-full mx-auto px-5;
}

@media only screen and (max-width: 450px) {
  h2 {
    @apply text-[36px] leading-[46.17px];
  }
  h3 {
    @apply font-medium text-[24px] leading-[31.51px] text-[#6E8AAB];
  }

  p {
    @apply text-[14px] leading-[20.51px];
  }

  button {
    @apply text-[14px] leading-[20.51px];
  }
}

body {
  @apply font-[poppins];
}
