.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  background-image: url("../../Assets/services/servicesCardBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  padding: 10px;
  cursor: pointer;
  gap: 20px;
  transition: 0.3s;
}

.card:hover {
  background-image: none;
  background-color: white;
}

.card img {
  transition: 0.5s;
  border-radius: 100%;
}

.card img:hover {
  transform: scale(1.1);
}