.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  position: relative;
  z-index: 1000;
}

.Navbar .navItems ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.Navbar .navItems ul li {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: #002856;
}

.Navbar .navItems ul li span {
  border-bottom: 3px solid white;
}

.Navbar .navItems ul li:hover span {
  color: #538744;
  border-bottom: 4px solid #538744;
}

.Navbar .navItems ul li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  gap: 0;
  flex-direction: column;
  background-color: #002856;
  z-index: 10;
  min-width: 200px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.Navbar .navItems ul li:hover > ul {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.Navbar .navItems ul li > ul > li {
  color: #fff;
  padding: 10px 20px;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.Navbar .navItems ul li > ul > li:hover {
  background-color: #538744;
}

.Navbar .navItems ul li > ul > li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  flex-direction: column;
  background-color: #002856;
  padding: 0;
  z-index: 10;
  min-width: 200px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.Navbar .navItems ul li > ul > li:hover > ul {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
}
.menuIcon {
  display: none;
}

@media (max-width: 1024px) {
  .Navbar .navItems {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #002856;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: max-height 0.3s ease;
    overflow: hidden;
  }

  .Navbar .navItems.active {
    display: flex;
    padding: 20px;
  }

  .Navbar .navItems ul {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
    text-align: left;
  }

  .Navbar .navItems ul li {
    padding: 10px;
    color: #fff;
    align-items: start;
    text-align: left;
    width: 100%;
  }

  .Navbar .hamburger {
    display: flex;
  }

  .Navbar .navItems ul li > ul {
    position: relative;
    display: none;
    padding-left: 10px;
  }

  .Navbar .navItems ul li:hover > ul {
    display: block;
  }
}
